DATABASE_HOST=
DATABASE_PORT=
DATABASE_SCHEMA=
DATABASE_USERNAME=
DATABASE_PASSWORD=
PESATONE_JWT_SECRET_KEY=
PESATONE_JWT_EXPIRY_SECONDS=
OTP_EXPIRY_SECONDS=
STATUS_NOTIFICATION_DURATION=
STATUS_NOTIFICATION_KEY=
PESATONE_PASSWORD_RESET_URL=
PESATONE_ADMIN_EMAIL=
PESATONE_ADMIN_PASSWORD=
CLOUDINARY_URL=
CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TRANSACTION_FEE_PERCENTAGE=
FLW_VERIFY_HASH=
FLW_SECRET_KEY=
FLW_TRANSACTION_DETAIL_URL=
FLW_TRANSFER_DETAIL_URL=
FDI_ACCOUNT_ID=
FDI_APP_ID=
FDI_SECRET=
FDI_PAYOUT_URL=
FDI_PAYMENT_URL=
FDI_TRANSACTION_DETAIL_URL=
FDI_AUTH_URL=
FDI_PAYMENT_CALLBACK_URL=
FDI_PAYOUT_CALLBACK_URL=
POKET_MONEY_BASE_URL=
POKET_MONEY_M2M_API_KEY=
POKET_MONEY_CALLBACK_URL_PAYMENT=
POKET_MONEY_CALLBACK_URL_PAYOUT=
MAILJET_PUBLIC_KEY=
MAILJET_SECRET_KEY=
RESEND_API_KEY=
MAIL_SENDER=
MAIL_BRAND_NAME=
WEBCLIENT_CONNECT_TIMEOUT=
WEBCLIENT_READ_TIMEOUT=
HIKARI_LOG_LEVEL=
RATE_LIMIT_MAX_REQUESTS=
