@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #141416;
  --bg-hover: #232326;
  --secondary-color: #17171A;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--bg);
  color: rgb(var(--foreground-rgb));
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-padding {
  width: 72%;
  max-width: 1728px;
  margin: 0 auto;
}

.dashboard-padding {
  padding: 0 218px;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .page-padding {
    width: 90%;
  }

  .dashboard-padding {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }

  .page-padding {
    width: 95%;
  }

  .dashboard-padding {
    padding: 0 50px;
  }

}

/* edit scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: var(--bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-hover);
}