@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #141416;
  --bg-hover: #232326;
  --secondary-color: #17171A;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--bg);
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.page-padding {
  padding: 0 252px;
}

.button-border-gradient {
  border: 2px;
  background-image: linear-gradient(90deg, #FFFFFFA6, #FFFFFFA6), linear-gradient(90deg, #FFFFFFA6, #FFFFFFA6);
  background-size: 100% 2px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}